<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BlogEngine.Properties.Settings.AzureWorkshopConnectionString"
            connectionString="Data Source=87.106.214.158\S15312993,2702;Initial Catalog=AzureWorkshop;Persist Security Info=True;User ID=azureworkshop"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>